#imageMain{
    display: flex;
    justify-content: center;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat', cursive;
}
#btn{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    /* padding: 45px; */
    font-family: 'Caveat', cursive;
    /* border: none; */
    font-size: 250%;
    font-weight: bolder;
    
}
#ancorMain{
    font-size: 23px;
    text-decoration: none;
    color: black;
}
#header h1,
#header h2 {
    margin: 0;
}
@media all and (max-width:1000px){
#myImg{
    width: 500px;
}
#ancorMain {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
#btn{
    margin-top: 110px;
}
}

