body{
    background-image: url('background-cv.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: end;
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 50%;
    font-family: 'Caveat', cursive;

}
.heading{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 50%;
    font-family: 'Caveat', cursive; 
}
 .headingTwo{
    display: flex;
    justify-content: start;
    border: 2px solid black;
    width: 50%;
    font-family: 'Caveat', cursive;
}
.skillsPractice{
    display: flex;
    justify-content: space-around;
}
.addEduLang{
    display: flex;
    justify-content: space-around;
}
#skills{
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: 'Caveat', cursive;
}
#practice{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: 'Caveat', cursive;
}
.edu{
    background-color: black;
        border: 1px solid white;
        color: white;
        width: auto;
        height: auto;
        padding: 15px;
        font-family: 'Caveat', cursive;
}
#addEdu{
        border: 1px solid black;
        width: auto;
        height: auto;
        padding: 5px;
        font-family: 'Caveat', cursive;
}
#lang{
background-color: black;
    border: 1px solid white;
    color: white;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: 'Caveat', cursive;
}
#btnContact, #btnWorksCV, #btnMainCV, #btnLoadCV {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0);
    margin: 5px;
    border: 2px solid black;
    border-radius: 100px;
}

#ancorContact, #ancorWorksCV, #ancorMainCV, #ancorLoadCV {
    text-decoration: none;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
