body{
    background-image: url('1697505831_flomaster-top-p-risunok-kompyuter-mechti-krasivo-3.jpg');
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
}


.wrapper {
    display: flex;
    justify-content: space-around;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, green, blue, 0);
    width: 650px;
    height: 550px;
    border: 2px solid black;
    margin: 2px;
}
.item-name{
    font-family: 'Caveat', cursive;
}
video{
    border: 2px solid black;
}
.list{
    
    font-family: 'Caveat', cursive;
    border: 1px solid black;
    margin-top: 10px;
    padding: 3px;
}
li{
    margin-left: -40px;
    list-style-type: none;
    font-weight: bolder;
}
a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: bolder;
}
.btnWorks{
    display: flex;
    justify-content: center;
}
#btnContact,
#btnWorksWorks,
#btnMainWorks {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0);
    margin: 5px;
    border: 2px solid black;
    border-radius: 100px;
}
@media all and (max-width:1000px){
.wrapper {
        display: flex;
        flex-direction: column;
    }
 .item {
     width: 100%;
     height: auto;
 }
 video{
    width: 380px;
 }
}